@font-face {
  font-family: "Ringbearer";
  src: url(/public/fonts/RingbearerMedium.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cormorant-Italic";
  src: url(/public/fonts/Cormorant-Italic.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cormorant-LightItalic";
  src: url(/public/fonts/Cormorant-LightItalic.ttf);
  font-style: normal;
  font-weight: 400;
}

body {
  height: 100vh;
  overflow: hidden;
}

h1, h2 {
  text-shadow: 3px 2px 5px rgba(0,0,0, 1);
}

p {
  text-shadow: 4px 2px 5px rgba(0,0,0, 1);
}

button {
  -webkit-tap-highlight-color: transparent;
}